
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Chitchat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="theme-color" content="#7f57cf">
  <link rel="stylesheet" href="style/style.css">
  <link rel="stylesheet" href="style/tomorrow-night-eighties.css">
</head>
<body>
  {{{ content }}}

  <script src="https://cdn.firebase.com/js/client/2.2.9/firebase.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script src="scripts/main.js"></script>
</body>
