
/* buttons */

.button {
  text-align: center;
  display: block;
  width: 300px;
  height: 45px;
  line-height: 45px;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #2094D3;
  color: #fff;
  transform: translate(-50%, -50%);
  text-decoration: none;
  
}


button#send {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  right: 0;
  position: absolute;
  top: 0;
  min-width: 200px;
  height: 100%;
  background: linear-gradient(to left, #2296D4 , #8283C9 );
  font-size: 1.4em;
  color: #fff;
  display: block;
  border: none;
  cursor: pointer;

  @media all and (max-width: $bp-s) {
    min-width: 100px;
  }
}
