@import "normalize";
@import "foundation_settings";
@import "foundation";


// color scheme from http://colrd.com/image-dna/27458/
.landing-1 {
  padding: 200px;
  height:100%;
  width:100%;
  background:
    linear-gradient(
        rgba(144, 228, 222, 0.70),
        rgba(144, 228, 222, 0.70)
      ),
    url(/images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.landing-2 {
  padding: 100px;
  height:50%;
  width:100%;
  background-color: rgba(144, 228, 222, 0.30);
}
